* {
  box-sizing: border-box;
}

.game-container {
  z-index: 999;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  margin-top: 30px;
  width: 100px;
  height: 50px;
}
